body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.app-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Naya Dashboard Design */
.dashboard {
    background: linear-gradient(135deg, #0052cc, #003d99);
    color: white;
    padding: 25px 20px;
    text-align: center;
}

.dashboard p { margin: 0; font-size: 16px; opacity: 0.9; }
.dashboard h1 { margin: 10px 0 0 0; font-size: 36px; }

.search-section { padding: 15px 20px; background: #fdfdfd; border-bottom: 1px solid #eee; }
.search-section input { width: 92%; padding: 10px; border-radius: 20px; border: 1px solid #ccc; outline: none;}

.input-section { padding: 20px; background: #fafafa; border-bottom: 2px solid #eee; }
.input-section input { width: 92%; padding: 12px; margin-bottom: 12px; border: 1px solid #ccc; border-radius: 6px; font-size: 15px; }

/* Buttons ka naya layout */
.button-group { display: flex; justify-content: space-between; gap: 10px; }
.button-group button { 
    flex: 1; padding: 12px; font-size: 14px; font-weight: bold; 
    border-radius: 6px; border: none; color: white; cursor: pointer; transition: 0.3s;
}

.btn-udhar { background-color: #dc3545; } /* Lal Rang */
.btn-udhar:hover { background-color: #c82333; }

.btn-jama { background-color: #28a745; } /* Hara Rang */
.btn-jama:hover { background-color: #218838; }

.account-card { border: 1px solid #eee; margin: 15px; border-radius: 8px; box-shadow: 0px 2px 5px rgba(0,0,0,0.05); }
.card-header { display: flex; justify-content: space-between; background-color: #fdfdfd; padding: 15px; border-bottom: 1px solid #eee; border-radius: 8px 8px 0 0; }
.card-header h4 { margin: 0; color: #333; font-size: 18px; }

.total-amt { font-weight: bold; font-size: 18px; }
.history-list { list-style: none; padding: 0; margin: 0; }
.history-item { padding: 10px 15px; border-bottom: 1px solid #f9f9f9; font-size: 14px; display: flex; justify-content: space-between; }

/* Udhar aur Jama ke rang */
.text-red { color: #dc3545; font-weight: bold; }
.text-green { color: #28a745; font-weight: bold; }
.date-time { display: block; font-size: 11px; color: #999; margin-top: 4px; }

/* whatsapp details bhejna*/

/* Naya WhatsApp Button ka Design */
.btn-whatsapp {
    background-color: #25D366; /* WhatsApp ka asli hara rang */
    color: white;
    border: none;
    padding: 8px 13px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: max-content;
    text-align: center;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    background-color: #128C7E;
}
