/* 768px ya usse choti screen ke liye */
@media (max-width: 768px) {

@import url('https://googleapis.com');

  body {
    background-color: lightblue;
  }

.nav-links{ 
display:flex;
width:100%;
gap:10px;
text-decoration:none;
}

}

